@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans.ttf);
}

@font-face {
    font-family: "Exo 2";
    src: url(../fonts/Exo2-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.1s;
}

html, body{
    height: 100%;
}

body{
    width: 100%;
    height: 2900px;
    background: url(../images/background.png) repeat;
    transition: 0.2s;
}


.main{
    width: 100%;
    max-height: 720px;
}

.container{
    position: relative;
}

#myVideo{
    background-attachment: fixed;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.2;
    position: fixed;
    z-index: -23;
}

.menu a{
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.menu a::before{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #495968;
    transition: width .3s ease-in-out, left .3s ease-in-out;
    left: 50%;
    bottom: -6px;
}


.menu a::after{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #495968;
    transition: width .3s ease-in-out;
    left: 50%;
    top: -3px;
}

.menu a:hover::before{
    width: 50%;
    left: 0;
}
.menu a:hover::after{
    width: 50%;
}

a:link {text-decoration: none; color: #111111;}
a:visited {text-decoration: none; color: #111111;}
a:active {text-decoration: none; color: #111111;}
a:hover {text-decoration: none; color: #414141;}

#lang{
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 12px;
    font-family: "OpenSans";
    z-index: 99;
}

#lang span{
    color: #414141;
}

.menu{
    margin-left: 75px;
}

.menu div{
    color: #414141;
    font-family: "Exo 2";
    margin: 50px 30px 30px 30px;
    height: 50px;
    float: left;
    font-size: x-large;
}

#hello{
    font-family: "Exo 2";
    font-size: x-large;
    position: absolute;
    left: 150px;
    top: 540px;
    text-align: center;
    color: #414141;
}

.social{
    position: absolute;
    top: 470px;
    left: 160px;
    width: 252px;
    height: 53px;
}

.social a{
    display: block;
    width: 53px;
    height: 53px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}


#f {
    background: url(../images/if_facebook4.png) no-repeat;
}

#l {
    background: url(../images/if_linkedin4.png) no-repeat;
}

#vk {
    background: url(../images/vk4.png) no-repeat;
}

#sk {
    background: url(../images/skype4.png) no-repeat;
}

#f:hover {
    background: url(../images/if_facebook2.png) no-repeat;
}

#l:hover {
    background: url(../images/if_linkedin2.png) no-repeat;
}

#vk:hover {
    background: url(../images/vk2.png) no-repeat;
}

#sk:hover {
    background: url(../images/skype.png) no-repeat;
}


#logo{
    position: absolute;
    right: 150px;
    top: 180px;
    height: auto;
    width: 300px;
    opacity: 1;
}

#description{
    position: absolute;
    top: 720px;
    width: 100%;
    height: 340px;
    background: linear-gradient(to top right, #61818e, #495968);
    opacity: 0.8;
    text-align: center;
    color: white;
}

#description p{
   padding: 3em 0;
    font-family: "OpenSans";
    font-size: xx-large;
}

#skills{
    width:auto;
    height: 200px;
    position: absolute;
    top: 1150px;
    right: 57px;
    font-family: "OpenSans";
    font-size: x-large;
    text-align: right;
}

#skills table{
    width: 100%;
    text-align: center;
}

.text{
    width:auto;
    height: 200px;
    position: absolute;
    top: 1470px;
    left: 57px;
    font-family: "Open Sans";
    font-size: x-large;
    text-align: left;
}

.text2{
    width:100%;
    height: auto;
    position: absolute;
    top: 1690px;
    font-family: "Exo 2";
    font-size: xx-large;
    text-align: center;
}

.gallery{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 1750px;
    margin: auto;
}

.gallery table{
    width: 100%;
    height: 100%;
    border: hidden;
}

.gallery td{
    width: 25%;
    max-width: 200px;
    height: 50%;
    /*border: 1px solid #f1f1f1;
    background: linear-gradient(to bottom right, #b9c7c8, #495968);*/
    background-size: 100%;
}

.gallery td:hover{
    filter: grayscale(0%);
}

.gallery a{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: filter 0.8s ease;
}

.link a:hover{
    background: linear-gradient(to bottom right, #b9c7c8, #495968);
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
    opacity: 0.8;
    filter: grayscale(0%);
}


.loop a:hover{
    background: linear-gradient(to bottom right, #b9c7c8, #495968);
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
    opacity: 0.8;
    filter: grayscale(0%);
}

#contact{
    width:auto;
    height: 200px;
    position: absolute;
    top: 2450px;
    left: 87px;
    font-family: "Exo 2";
    font-size: xx-large;
    text-align: center;
}


.footer{
    background: linear-gradient(to top right, #495968, #c7aeb4);
    width: 100%;
    height: 150px;
    background-color: #f1f1f1;
    position: absolute;
    top: 2900px;
    text-align: center;
    color: black;
    z-index: -22;
}

.footer p{
    font-family: "OpenSans";
    font-size: xx-small;
    position: absolute;
    bottom: 10px;
    left: 5%;
}


.social2{
    width: 252px;
    height: 53px;
    position: absolute;
    top: 50px;
    right: 5%;
}

.social2 a{
    display: block;
    width: 53px;
    height: 53px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}


#f2 {
    background: url(../images/if_facebook.png) no-repeat;
}

#l2 {
    background: url(../images/if_linkedin.png) no-repeat;
}

#vk2 {
    background: url(../images/vk.png) no-repeat;
}

#sk2 {
    background: url(../images/skype1.png) no-repeat;
}

#f2:hover {
    background: url(../images/if_facebook3.png) no-repeat;
}

#l2:hover {
    background: url(../images/if_linkedin3.png) no-repeat;
}

#vk2:hover {
    background: url(../images/vk3.png) no-repeat;
}

#sk2:hover {
    background: url(../images/sk2.png) no-repeat;
}

#logo2{
    width: 100px;
    height: auto;
    opacity: 0.6;
    margin-top: 20px;
}

.scrollup{
    width:40px;
    height:64px;
    opacity:0.8;
    position:fixed;
    bottom:50px;
    left:40px;
    display:none;
    text-indent:-9999px;
    background: url(../images/icon_top.png) no-repeat;
    z-index: 999;
}

.phone{
    width:auto;
    height: 200px;
    position: absolute;
    top: 2500px;
    left: 87px;
    font-family: "OpenSans";
    font-size: larger;
    text-align: left;
}

.trans--grow{
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1.5s  ease-out;
    width : 0%;
}
.grow{
    width:100%;
}

.hr2{
    margin-right:0;
}

.hr1{
    size: 2px;
    color: #898989;
}
