@media screen and (max-width: 1280px){
    .menu div {font-size: larger}
    #hello {font-size: larger}
    #description p {font-size: x-large}
    #description {height: 300px;
    }
    #skills {font-size: larger}
    .text{font-size: larger}
    .text2{font-size: x-large}
    #contact{font-size: x-large}
    .phone{font-size: large}
}

@media screen and (max-width: 1024px){
    .gallery{height: 450px;}
    #contact{top: 2300px}
    .phone{top: 2350px}
    .footer{top: 2600px}
    body{height: 2600px}
}

@media screen and (max-width: 768px){
    .menu div {font-size: large}
    #hello {font-size: large}
    #description p {font-size: larger}
    #description {height: 300px;
    }
    #skills {font-size: large}
    .text{font-size: large}
    .text2{font-size: larger}
    #contact{font-size: larger}
    .phone{font-size: medium}
}